repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        name: ruff lint
        args: ["--fix"]
        files: ^src/pylammpsmpi/
      - id: ruff-format
        name: ruff format
