channels:
- conda-forge
dependencies:
- coverage
- lammps =2024.08.29=*_mpi_openmpi_*
- openmpi =5.0.8
- numpy =2.4.2
- mpi4py =4.1.1
- executorlib =1.8.2
- ase =3.27.0
- scipy =1.17.0
- hatchling
- hatch-vcs
