channels:
- conda-forge
dependencies:
- coverage
- lammps =2024.08.29=*_mpi_openmpi_*
- openmpi =5.0.8
- numpy =2.3.5
- mpi4py =4.1.1
- executorlib =1.7.3
- ase =3.26.0
- scipy =1.16.3
- hatchling
- hatch-vcs
